<% layout('layouts/boilerplate') %>


    <div class="row mb-3">
        <div class="col-6 offset-3">

            <div class="card">
                <img src="<%= Campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= Campground.title %></h5>
                    <p class="card-text"><%= Campground.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"><%= Campground.location %></li>
                    <li class="list-group-item">$<%= Campground.price %>/night</li>
                    
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-warning" href="/campgrounds/<%= Campground._id %>/edit">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= Campground._id %>?_method=Delete" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>

        </div>
    </div>






    